@mixin btn-base{
    border-radius: 0.50rem;
    padding: 0.25rem 1.5rem;
    cursor: pointer;
    transition: all 250ms ease;
}

@mixin  btn-sm-modify{
    font-size: 0.85rem;
    padding: 0.2rem 1.1rem;
    font-weight: 500;
}

$btn-color:#0075FF;
$footer-color:#f4f8fe;

.btn-main{
    @include btn-base();
    border: none;
    background-color: $btn-color;
    color: white;

    &-s{
        @extend .btn-main;
        @include btn-sm-modify();
    }

     
    &:hover{
        transform: translateY(-2px);
        box-shadow: 2px 3px 10px grey;
    }
}

.btn-sec{
    @include btn-base();
    color: black;
    background-color: transparent;
    border: none;
    font-weight: 500;

    &:hover{
        box-shadow: none;
        transform: scale(1.1) translateY(-2px);
        color: rgb(48, 41, 41);
    }

    &-s{
        @extend .btn-sec;
        @include btn-sm-modify();

    }
}

.main-menu {
    margin-bottom: 0;

    li{
        font-size: 1.1rem;
        list-style: none;
        display: inline;
        padding: 0.25rem;
        

        a{
            color: black;
            text-decoration: none;
            transition:all 350ms ease;

            &:hover{
                color: $btn-color;
                text-decoration: underline;
            }
        }
    }
}

.icon-sm{
    box-shadow: 0px 0px 10px rgba(16, 15, 15, 0.148);
    padding: 0.1rem 0.35rem;
    font-size: 1.2rem;
    border-radius: 50%;
    transition: all 300ms ease;

        &:hover{
            transform: translateY(-4%)scale(1.08);
        }

    i{
        color: $btn-color;
        
    }
}


.benefits{
    display: flex;
    flex-direction:column;
    .icon{
        color: rgb(79, 109, 192);
        text-align: center;
        font-size: 6.2rem;
    }    

    .description{
        .title{
            font-size: 1.85rem;
            text-align: center;

        }
        .text{
            color: rgb(113, 113, 113);
            font-weight: 600;
            text-align: center;
        }
    }

    .cta{
        color: $btn-color;
        font-weight: 600;
        margin-top: 2rem;
        text-align: center;
    }
}

.icon-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    i{
        padding: 0;
        color: $btn-color;
        font-size: 7rem;
        transition: transform 300ms ease;

        &:hover{
            transform: translateY(-2%);
          
        }
    }

    .title{
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: -1rem;

    }
}